In [106]:
# 1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.

In [107]:
import numpy as np
import pandas as pd

In [108]:
n1 = pd.Series([2, 4, 6, 8, 10])
print(n1)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [109]:
# 2. Write a Pandas program to convert a Panda module Series to Python list and itâ€™s type.

In [110]:
def function1():
    l1 = [10,20,30,40,50]
    print(f"L1 = {l1} Type = {type(l1)}")
    
    n_arr = np.array([11,22,33,44])
    print(f"N_ARR = {n_arr} Type = {type(n_arr)}")
    
    s_series  = pd.Series([90,80,70,60,50])
    print(f"S_Series = {s_series} Type ={type(s_series)}")

In [111]:
function1()

L1 = [10, 20, 30, 40, 50] Type = <class 'list'>
N_ARR = [11 22 33 44] Type = <class 'numpy.ndarray'>
S_Series = 0    90
1    80
2    70
3    60
4    50
dtype: int64 Type =<class 'pandas.core.series.Series'>

In [112]:
# 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
 #  Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [113]:
#l1 = [2, 4, 6, 8, 10]
#l2 = [1, 3, 5, 7, 9]
#n1 = l1 + l2
#print(n1)
#n2 = l1 - l2
#print(n1)
#n3 = l1 * l2
#print(n1)
#n3 = l1 / l2
#print(n1)

In [114]:
# 4. Write a Pandas program to convert a dictionary to a Pandas series.

In [115]:
s1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}
print(s1)
pd_series = pd.Series(s1)
print(pd_series)

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
a    100
b    200
c    300
d    400
e    800
dtype: int64

In [116]:
# 5. Write a Pandas program to convert a NumPy array to a Pandas series.

In [117]:
n1 = np.array([10, 20, 30, 40, 50])
print(n1)
pd_series = pd.Series(n1)
print(pd_series)

[10 20 30 40 50]
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [118]:
# 6. Write a Pandas program to change the data type of given a column or a Series.

In [119]:
def function1():
    students = pd.Series(["s1","s2","s3","s4"])
    print(students)

In [120]:
function1()

0    s1
1    s2
2    s3
3    s4
dtype: object

In [121]:
# 7. Write a Pandas program to convert a given Series to an array.

In [122]:
s1 = pd.Series(['100', '200', '300', '400','500'])
print(s1)
n1 = s1.values
print(n1)

0    100
1    200
2    300
3    400
4    500
dtype: object
['100' '200' '300' '400' '500']

In [123]:
# 8. Write a Pandas program to create a dataframe from a dictionary and display it.

In [124]:
def function1():
    p1 = ({"name":"P1","age":25,"id":1234})
    p2 = ({"name":"P2","age":35,"id":456})
    p3 = ({"name":"P3","age":20,"id":789})
    
    s1 = pd.Series(p1)
    s2 = pd.Series(p2)
    s3 = pd.Series(p3)
    
    df = pd.DataFrame([s1,s2,s3])

    print(s1)
    print(s2)
    print(s3)
    print(df)

In [125]:
function1()

name      P1
age       25
id      1234
dtype: object
name     P2
age      35
id      456
dtype: object
name     P3
age      20
id      789
dtype: object
  name  age    id
0   P1   25  1234
1   P2   35   456
2   P3   20   789

In [ ]:
# 9. i) Create a list of empids and names (10 employees).
  # ii) Convert list into Series.
   #iii) Print type of Series.
   #iv) Convert Series into DataFrame.
   #v) a) Display all records.
    #  b) Display first five records.
     # c) Display last five records.
      #d) Display first two and last two records.
      #e) Display name of 5th employee.
      #f) Display record of 4th employee.
   #vi) Save the record in csv file (MyRecord.csv)