In [46]:
#1.Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.

In [66]:
import pandas as pd
import numpy as np

#### 
'arr = pd.array([90,80,70,60,50])
print(arr)

In [55]:
#2. Write a Pandas program to convert a Panda module Series to Python list and itâ€™s type.

In [56]:
n1= pd.Series([10, 20, 30, 40, 50])

s1 = n1.tolist()
print("n1:", s1)
print("Type :", type(s1))

n1: [10, 20, 30, 40, 50]
Type : <class 'list'>

In [ ]:
Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
   Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [57]:
s1 = pd.array([11,22,33,44,55,66,77])
s2 = pd.array([10,20,30,40,50,60,70])
print(s1+s2)
print(s1-s2)
print(s1*s2)
print(s1*s2)
print(s1/s2)

<IntegerArray>
[21, 42, 63, 84, 105, 126, 147]
Length: 7, dtype: Int64
<IntegerArray>
[1, 2, 3, 4, 5, 6, 7]
Length: 7, dtype: Int64
<IntegerArray>
[110, 440, 990, 1760, 2750, 3960, 5390]
Length: 7, dtype: Int64
<IntegerArray>
[110, 440, 990, 1760, 2750, 3960, 5390]
Length: 7, dtype: Int64
<FloatingArray>
[1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1]
Length: 7, dtype: Float64

In [ ]:
#4. Write a Pandas program to convert a dictionary to a Pandas series.

In [58]:
s1 ={'name':'xyz', 'id':23, 'age':25, 'address':'Pune' }

In [59]:
print(s1)

{'name': 'xyz', 'id': 23, 'age': 25, 'address': 'Pune'}

In [53]:
s3 = pd.Series(s1)

In [54]:
print(s3)

name        xyz
id           23
age          25
address    Pune
dtype: object

In [69]:
#5. Write a Pandas program to convert a NumPy array to a Pandas series.

In [70]:

numpy_array = np.array([10, 20, 30, 40, 50])
series = pd.Series(numpy_array)

print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64