In [46]:
#1.Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.

In [47]:
import pandas as pd

In [48]:
arr = pd.array([90,80,70,60,50])
print(arr)

<IntegerArray>
[90, 80, 70, 60, 50]
Length: 5, dtype: Int64

In [49]:
2. Write a Pandas program to convert a Panda module Series to Python list and it’s type.

SyntaxError: invalid character '’' (U+2019) (141876114.py, line 1)

In [ ]:
n1= pd.Series([10, 20, 30, 40, 50])

s1 = n1.tolist()
print("n1:", s1)
print("Type :", type(s1))

In [ ]:
Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
   Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [ ]:
s1 = pd.array([11,22,33,44,55,66,77])
s2 = pd.array([10,20,30,40,50,60,70])
print(s1+s2)
print(s1-s2)
print(s1*s2)
print(s1*s2)
print(s1/s2)

In [ ]:
#4. Write a Pandas program to convert a dictionary to a Pandas series.

In [ ]:
s1 ={'name':'xyz', 'id':23, 'age':25, 'address':'Pune' }

In [51]:
print(s1)

{'name': 'xyz', 'id': 23, 'age': 25, 'address': 'Pune'}

In [53]:
s3 = pd.Series(s1)

In [54]:
print(s3)

name        xyz
id           23
age          25
address    Pune
dtype: object