In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [6]:
# Load the dataset
df = pd.read_csv('./Advertising.csv')

In [7]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [ ]:
df.info()

In [ ]:
# find correlation
for column in df.columns:
    corr = np.corrcoef(df['sales'],df[column])
    print(f"Correlation betweem Sales and {column} = {corr[0,1]}")

In [ ]:
x = df.drop(['sales','newspaper'],axis=1)
y = df['sales']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.8,random_state=12345)

In [ ]:
len(x_train)

In [ ]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

model.fit(x_train,y_train)

In [ ]:
y_predictions = model.predict(x_test)

In [ ]:
print(y_predictions)

In [4]:
plt.scatter(x_test['radio'],y_test)
plt.scatter(x_test['radio'],y_predictions,color='red')
plt.xlabel('radio')
plt.ylabel('sales')
plt.title('radio Vs sales OBSERVED OUTPUT')

NameError: name 'x_test' is not defined

In [3]:
# get the errors
# Mean Absolute Error
# Mean Squared Error
# Root Mean Squared Error

from sklearn.metrics import mean_absolute_error,mean_squared_error

MAE = mean_absolute_error(y_test,y_predictions)
MSE = mean_squared_error(y_test,y_predictions)
RMSE = np.sqrt(MSE)
print(f"Mean Absoulte Error = {MAE}")
print(f"Mean Sqaured Error = {MSE}")
print(f"Root Mean Squared Error ={RMSE}")

NameError: name 'y_test' is not defined